.list-users {
    display: flex;
    gap: 30px;
    padding-top: 30px;

    .detail-user {
        border: 1px dashed;
        padding: 10px;
        border-radius: 5px;
        min-width: 260px;
    }
}